body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: rgba(246, 246, 246);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  width: 25%;
  height: 25%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 1.25rem;
}

.nav-link{
  font-size: 1.25rem;
  color: #1a7eb8;
}

.nav-link:hover{
  color:  #999;
}

h1 {
  font-size: 2rem;
  color: #1a7eb8;
  margin: 0;
}

.banner h1 {
  font-size: 3rem;
  color: #1a7eb8;
  margin-top: 3rem;
  font-family: 'Times New Roman', Times, serif;
}

.banner p {
  font-size: 1.5rem;
  color:  rgba(79, 76, 77);
  margin-top: 1rem;  
}

p { 
  font-size: 1.25rem;
  color:  rgba(79, 76, 77);
  line-height: 1.5;
}

.portfolioDesc {
  margin-top: 0;
}

.portTitle {
  margin-bottom: 1rem;
}

section, header {
  padding: 3rem;
}

section h2 {
  font-size: 1.5rem;
  margin-top: 0;
  color: #1a7eb8;
}

#skills h3 {
  font-size: 1rem;
}

section ul {
  list-style: none;
  padding: 0;
}

section li {
  margin: 0;
  padding: 0;
}



a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

#skills li {
  width: 30%;
  margin-bottom: 15px;
}

#projects ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

#projects li {
  width: 30%;
  margin-bottom: 10px;
  display: flex;
  min-height: 7rem;
  min-width: 20rem;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

#projects img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card {
  background-color: rgba(79, 76, 77, 0.05);
  border-radius: 5px;
  padding: 20px;
  margin: .5rem;
  width: 100%;
  height: 100%;
}

.card h3 {
  font-size: 1.5rem;
  font-weight: 100;
}

.button {
  background-color: #1a7eb8;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  display: flex;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
}


.titleContainer {
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Orderlist li {
  list-style: number;
  padding-top: 1rem;
}

.Orderlist li:first-child {
  padding-top: 0rem;
}

.Orderlist li:last-child {
  padding-bottom: 2rem;
}

ol {
  list-style-position: inside;
  padding-left: 1rem;
}

.overviewList {
  margin-top: 0rem;
}

.overviewHeader {
  margin-bottom: .5rem;
  margin-top: 0rem;
}

.specs {
  display: flex;
  flex-direction: row;
  
}

.stacks {
  padding: 1rem;
  border: 1px solid #1a7eb8;  
  margin-right: 1rem;
  width: 25%;
}

.stacks:last-child {
  margin-right: 0;
}

.portSection:first-child {
  padding-top: 2rem;
}

section + .portSection {
  padding-top: 0rem;
}


.footer {
  background-color: rgba(79, 76, 77, 0.05);
  text-align: center;
  padding: 1rem;
  color: #1a7eb8;
}

.contactHeader {
  margin-bottom: 0;
}

.contactInfo {
  margin-top: 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin: 0;
}




@media (max-width: 768px) {
  .logo {
    width: 50%;
    height: 50%;
  }

  .nav-menu {
      position: fixed;
      left: -110%;
      top: 6em;
      flex-direction: column;
      background-color: #1a7eb8;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-menu.active a{
    color: white;
  }

  .nav-menu.active a:hover{
    color: rgba(0, 0, 0);
    text-decoration: none;
  }

  .nav-item {
      margin: 1rem 0;
      align-self: start;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

  #skills h3 {
    font-size: 1rem;
  }
  
  li {
    font-size: 1rem;
  }

  .stacks {
    padding: 1rem;
    border: 1px solid #1a7eb8;  
    margin-right: 1rem;
    flex:1;
  }


  .titleContainer {
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
  }

  .linksContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  

}

@media (max-width: 1024px) {  
  .logo {
    width: 45%;
    height: 45%;
  }
}