body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(79, 76, 77, 0.05);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 0.5rem;
}

nav a {
  color: #1a7eb8;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #999;
}

.logo {
  width: 25%;
  height: 25%;
}

.logoContainer {
  width: 100%;
}

h1 {
  font-size: 2rem;
  color: #1a7eb8;
  margin: 0;
}

.banner h1 {
  font-size: 3rem;
  color: #1a7eb8;
  margin-top: 3rem;
  font-family: 'Times New Roman', Times, serif;
}

.banner p {
  font-size: 1.5rem;
  color:  rgba(79, 76, 77);
  margin-top: 1rem;  
}

p { 
  font-size: 1.25rem;
  color:  rgba(79, 76, 77);
  line-height: 1.5;
}

.portfolioDesc {
  margin-top: 0;
}

.portTitle {
  margin-bottom: 1rem;
}


section, header {
  padding: 3rem;
}

section h2 {
  font-size: 1.5rem;
  margin-top: 0;
  color: #1a7eb8;
}

section ul {
  list-style: none;
  padding: 0;
}

section li {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


#skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

#skills li {
  width: 30%;
  margin-bottom: 15px;
}

/* @media (max-width: 768px) {
  #skills li {
  }
} */

#projects ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

#projects li {
  width: 30%;
  margin-bottom: 10px;
  display: flex;
  min-height: 7rem;
  min-width: 20rem;
  flex-direction: column;
  align-items: left;
  text-align: left;
}


#projects img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card {
  background-color: rgba(79, 76, 77, 0.05);
  border-radius: 5px;
  padding: 20px;
  margin: .5rem;
  width: 100%;
  height: 100%;
}

.button {
  background-color: #1a7eb8;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  display: flex;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
}

.footer {
  background-color: rgba(79, 76, 77, 0.05);
  text-align: center;
  padding: 1rem;
  color: #1a7eb8;
}

.contactHeader {
  margin-bottom: 0;
}

.contactInfo {
  margin-top: 0;
}


